/* COLORS */
body {
	border-top: 5px solid #ab0c0c;
}

header h1 {
    color: #ab0c0c;
}

a,
a:hover {
	color: #ab0c0c;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background: #ab0c0c;
	border-color: #ab0c0c;
}

.panel-primary>.panel-heading {
	background: #ab0c0c;
}

.panel-primary {
	border-color: #ab0c0c;
}
/* /COLORS */

header {
	padding: 1.5em 0;
}

header img {
    display: block;
    margin: 0 auto;
    width: 275px;
}

header h1 {
	font-size: 2em;
	text-align: center;
}

footer {
	border-top: 1px solid #ccc;
	color: #999;
	font-style: italic;
	margin-top: 1.5em;
	padding: 1em 0;
	text-align: right;
}

dd {
	margin-bottom: 1em;
}

h2 {
	color: #444;
	border-bottom: 1px solid #ccc;
	font-size: 1.75em;
	font-weight: normal;
	margin-bottom: 1em;
	padding-bottom: 0.25em;
}

h3 {
    color: #444;
    font-size: 1.5em;
    font-weight: normal;
}